# Игнорировать скомпилированные байт-коды Python
*.pyc
__pycache__/

# Игнорировать виртуальные окружения
venv/
env/

# Игнорировать настройки IDE, например, PyCharm, VS Code
.idea/
.vscode/

# Другие временные файлы, которые могут быть созданы
*.log
